.Header {
	background-color: map-get($gray, dark);

	&__container {
		margin: 0 auto;
		max-width: 1800px;
		width: 100%;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
	}

	&__logo {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 155px;
		height: 36px;

		@include media-breakpoint-down(xl) {
			width: 115px;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 50px;
		justify-content: center;
		margin-bottom: 0;
		margin-right: 120px;
		padding: 0;

		&--item {
			list-style: none;
		}

		&--link {
			color: $header-text-color;
			font-size: 18px;
			font-weight: 500;
			text-decoration: none;

			&:hover {
				color: orange;
			}
		}

		&--mob {
			display: none;
		}

		@include media-breakpoint-down(xxl) {
			gap: 40px;
			margin-right: 90px;

			&--link {
				font-size: 16px;
			}
		}

		@include media-breakpoint-down(xl) {
			gap: 30px;
			margin-right: 30px;

			&--link {
				font-size: 15px;
			}
		}
	}

	&__options {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;

		&--item {
			list-style: none;
			position: relative;

			&.language {
				margin-right: 20px;
			}
		}

		&--link {
			color: $header-text-color;
			display: block;
			font-size: 18px;
			padding: 14px 18px;
			text-decoration: none;

			&:hover {
				background-color: #a191b2;
			}
		}

		&--carttext {
			background-color: #d8624c;
			border-radius: 50%;
			color: $header-text-color;
			font-size: 14px;
			font-weight: 600;
			height: 20px;
			left: 13px;
			position: absolute;
			text-align: center;
			top: -3px;
			width: 20px;
		}

		@include media-breakpoint-down(xxl) {
			&--link {
				font-size: 16px;
			}
		}

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&__hamburger {
		display: none;

		@include media-breakpoint-down(lg) {
			color: $header-text-color;
			display: block;
			width: 20px;
		}
	}

	@include media-breakpoint-down(lg) {
		&__menu {
			&--mob {
				display: flex;
				align-items: center;
			}
		}
	}
}
