.Navbar {
	background-color: $bg-navbar;
	padding: 10px 0;

	&__text {
		font-size: 16px;
		color: $navbar-text-color;
		font-weight: 300;
		margin: 0;
		text-align: center;
	}

	@include media-breakpoint-down(sm) {
		&__text {
			font-size: 14px;
		}
	}
}
