.Section {
	&__container {
		margin: 0 auto;
		max-width: 1920px;
		width: 100%;
	}

	&__wrapper {
		width: 100%;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	&__info {
		width: 100%;
		padding-left: 108px;

		&--description {
			font-size: 16px;
			font-weight: 400;
			text-align: center;
		}

		&--title {
			color: #a191b2;
			font-size: 24px;
			letter-spacing: 4.8px;
			text-transform: uppercase;
			margin-bottom: 40px;
			font-weight: 700;
		}

		&--content {
			max-width: 768px;
			width: 100%;

			h3 {
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 20px;
			}

			p {
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 60px;
				letter-spacing: 0.2px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&__image {
		margin: 0;
		width: 100%;

		img {
			width: 100%;
		}
	}

	&.palet {
		.Section {
			&__info {
				max-width: 950px;
			}
		}
	}

	&.form {
		padding: 150px 0;

		.Section {
			&__info {
				padding: 0;

				&--title {
					font-size: 36px;
					letter-spacing: 6px;
					text-align: center;
				}

				&--description {
				}
			}

			&__wrapper {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				margin: 0 auto;
				max-width: 1000px;
				width: 100%;
			}
		}
	}

	@include media-breakpoint-down(xxl) {
		&__info {
			padding-left: 70px;

			&--title {
				font-size: 22px;
				margin-bottom: 25px;
			}

			&--content {
				h3 {
					font-size: 22.2px;
					margin-bottom: px;
				}

				p {
					font-size: 15.3px;
					margin-bottom: 30px;
				}
			}
		}

		&__image {
			img {
				height: 710px;
			}
		}

		&.palet {
			.Section {
				&__info {
					max-width: 680px;
				}
			}
		}
	}

	@include media-breakpoint-down(xl) {
		&__info {
			padding-left: 40px;

			&--title {
				font-size: 20px;
			}

			&--content {
				p {
					font-size: 14px;
				}
			}
		}
	}

	@include media-breakpoint-down(lg) {
		&__row {
			flex-direction: column-reverse;
		}

		&__info {
			padding-left: 0;
			max-width: 650px;
			width: 100%;

			&--title {
				font-size: 20px;
				margin-bottom: 40px;
			}

			&--content {
				p {
					font-size: 16px;
				}
			}
		}

		&__image {
			margin-bottom: 50px;
		}
	}

	@include media-breakpoint-down(md) {
		&__info {
			padding: 0 30px;

			&--content {
				p {
					font-size: 15.5px;
				}
			}
		}

		&__image {
			margin-bottom: 50px;

			img {
				height: 510px;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		&__info {
			padding-left: 22px;
			padding-right: 18px;

			&--title {
				font-size: 18px;
				letter-spacing: 3.6px;
			}

			&--content {
				p {
					font-size: 14.5px;
				}
			}
		}
	}

	@media (width < 420px) {
		&__info {
			&--title {
				font-size: 17px;
				letter-spacing: 2.6px;
			}

			&--content {
				p {
					font-size: 13.3px;
				}
			}
		}
	}
}
