.Testimonial {
	margin: 0 auto;
	max-width: 450px;
	position: relative;
	width: 100%;

	&__content {
		margin: 0 auto;
		max-width: 375px;
		width: 100%;
	}

	&__icon {
		color: $testimonial-icon-color;
		font-size: 30px;
		position: absolute;

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}
	}

	&__text {
		color: map-get($gray, dark);
		font-size: 16px;
		line-height: 30px;
		text-align: center;
	}

	&__author {
		color: $testimonial-author-color;
		display: block;
		text-align: center;
	}
}
